{% extends "_login.html" %}

{% block content %}

<form id="createPlayerForm">
    <img class="mb-4" src="../../static/website/assets/brand/bootstrap-logo.svg" alt
        width="72" height="57">

    <h1 class="h3 mb-3 fw-normal">Create player </h1>

    <div class="form-floating">
        <p id="message_area"></p>
        <input id="floatingUsername" type="username" class="form-control" name="username"
            placeholder="Username">
        <label for="floatingUsername">Username</label>
    </div>

    <div class="form-floating">
        <input type="password" class="form-control"
            id="floatingPassword" name="password"
            placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>

    <div class="form-floating">
        <input type="password" class="form-control"
            id="floatingPassword2" name="verify_password"
            placeholder="Password">
        <label for="floatingPassword2">Verify password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Create user</button>
</form>
    
    <p>If you already have an account please <a href="/login_page">log in</a></p>

    <p><a href="/">Exit the game</a></p>

    <script>
        console.log("JS executing...")
        // Get a reference to the form element
        const form = document.getElementById('createPlayerForm');
        const waring_message = document.getElementById('message_area');
        // Add an event listener for the submit event
        form.addEventListener('submit', function(event) {
            console.log("submit pressed...")

            const username = form.elements.username.value;
            const password = form.elements.password.value;
            const verify_password = form.elements.password.value;

            fetch('/create_player', {
                method: 'POST', // or 'POST', 'PUT', 'DELETE', etc.
                headers: {
                  'Content-Type': 'application/json', // Another example header
                },
                body: JSON.stringify({
                    "username":username,
                    "password":password,
                    "verify_password":verify_password,
                }),
              })
                .then(response => {
                    return response.json(); // Assuming JSON response
                })
                .then(data => {

                    if (data["detail"]) {
                        waring_message.innerText = data["detail"];
                    } 

                    if (data["status"]=="success") {
                        waring_message.innerText = "success";
                        
                        window.location.replace("/login_page");
                    }
                })
                .catch(error => {
                    // Handle errors
                    console.error('Error:', error);
                    waring_message.innerText = error;
                });
            
            event.preventDefault();

        });
        
      </script>
{% endblock %}