{% extends "_menu_bar.html" %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <br>
            <div class="accordion" id="accordionType">

                {% for object_type_name, object_type_dict in objects_summary.items() %}
            
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseType{{object_type_name}}" aria-expanded="true" aria-controls="collapseType{{object_type_name}}">
                        Object type {{object_type_name}}
                        </button>
                    </h2>
                    <div id="collapseType{{object_type_name}}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionType">
                        <div class="accordion-body">

                            <p>test</p>
                            
                            <div class="accordion" id="accordionFamily{{object_type_name}}">

                                {% for family_name, family_dict in object_type_dict["families"].items() %}
                                
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFamily{{object_type_name}}{{family_name}}" aria-expanded="true" aria-controls="collapseFamily{{object_type_name}}{{family_name}}">
                                        Family {{family_name}}
                                        </button>
                                    </h2>
                                    <div id="collapseFamily{{object_type_name}}{{family_name}}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionFamily">
                                        <div class="accordion-body">
                                            <p>test</p>
                                        </div>
                                    </div>
                                </div>
            
                                {% endfor %}

                            </div>

                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
        <div class="col-8">
            <br>
            Column
        </div>
    </div>

{% endblock %}