

{% extends "_menu_bar.html" %}

{% block content %}

    <!-- START THE FEATURETTES -->
    <br>
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          PyMagedon is a massive multiplayer, survival strategy game. 
          <span class="text-muted">It is free to play.</span>
        </h2>
        <p class="lead">
          You play as a part of the ecosystem that constantly evolves and obeys 
          predator-pray relationship dynamics that is found in nature. The game only has the 
          number of predators that the ecosystem can support.
          </p>
      </div>
      <div class="col-md-5">
        <img src="static/website/assets/pics/fox_chasing_cow_image.jpg" alt="fox_chasing_cow_image" width="500" height="500">
        
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Enemies aren't there just to get you. <span class="text-muted">They have to fight for survival as well.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

{% endblock %}
