{% extends "_login.html" %}

{% block content %}
    <form id="loginForm">
        <img class="mb-4" src="../../static/website/assets/brand/bootstrap-logo.svg" alt
            width="72" height="57">

        <h1 class="h3 mb-3 fw-normal">Please sign in </h1>

        <div class="form-floating">
            <p id="message_area"></p>
            <input type="username" class="form-control" name="username"
                placeholder="Username">
            <label for="floatingInput">Username</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control"
                id="floatingPassword" name="password"
                placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        
        <p>If you don't have account please <a href="/create_player_page">sign up</a></p>

        <p><a href="/">Exit the game</a></p>
        
    </form>

    <script>
        console.log("JS executing...")
        // Get a reference to the form element
        const form = document.getElementById('loginForm');
        const waring_message = document.getElementById('message_area');
        // Add an event listener for the submit event
        form.addEventListener('submit', function(event) {
            console.log("Event submitted")
            const username = form.elements.username.value;
            const password = form.elements.password.value;

            fetch('/token', {
                method: 'POST', // or 'POST', 'PUT', 'DELETE', etc.
                headers: {
                'Content-Type': 'application/json', // Another example header
                },
                body: JSON.stringify({
                    "username":username,
                    "password":password
                }),
            })
                .then(response => {
                    // Handle the response
                    return response.json(); // Assuming JSON response
                })
                .then(data => {
                    if (data["detail"]) {
                        waring_message.innerText = data["detail"];
                    } 
                    if (data["token_type"]=="bearer") {
                        console.log(data)
                        waring_message.innerText = "success";
                        sessionStorage.setItem('token', data["access_token"]);
                        window.location.replace("/play");
                    } 
                })
                .catch(error => {
                    // Handle errors
                    console.error('Error:', error);
                });
            event.preventDefault();

        });
    </script>

{% endblock %}
