<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="/static/website/assets/pics/favicon_logo_small.png">
        
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
        <meta name="author" content="Adam">

        
        <!-- Bootstrap core CSS -->
        <link href="/static/website/assets/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Search console -->
        <meta name="google-site-verification" content="evmqjYRoTrRgw6tZvMG4eEVPDgUvSTFBpCkXOeOMdqA" />

        <!-- Clarity tracking -->
        <script type="text/javascript">
          (function(c,l,a,r,i,t,y){
              c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
              t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
              y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
          })(window, document, "clarity", "script", "ptabw2rs3n");
      </script>

        <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

        <!-- Custom styles for this template -->
        <link href="/static/website/signin.css" rel="stylesheet">
    </head>
    <body class="text-center">

        <main class="form-signin">
            {% block content %}{% endblock %}
        </main>

    </body>

</html>
