

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/website/assets/pics/favicon_logo_small.png">

    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="author" content="Adam">
    <meta property="og:type" content="game" />
    <meta property="og:url" content="https://pymageddon.ai-mmo-games.de"/>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Your title here" />
    <meta name="twitter:description" content="description here" />
    <meta name="twitter:url" content="https://pymageddon.ai-mmo-games.de" />
    <meta name="twitter:image" content="https://pymageddon.ai-mmo-games.de" />

    <!-- Bootstrap core CSS -->
    <link href="/static/website/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Search console -->
    <meta name="google-site-verification" content="evmqjYRoTrRgw6tZvMG4eEVPDgUvSTFBpCkXOeOMdqA" />

    <!-- Clarity tracking -->
    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "ptabw2rs3n");
  </script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="/static/website/carousel.css" rel="stylesheet">
  </head>
<body>
    
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PyMageddon</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('play') }}">Play</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('create_bot_page') }}">Create bot</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>


<main>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    {% block content %}{% endblock %}

  </div>
  <!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    
    <p>&copy; 2024- PyMageddon, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

</main>


    <script src="/static/website/assets/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
