{% extends "_menu_bar.html" %}

{% block content %}

<article>
    <br>
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Explorer</li>
        </ol>
    </nav>
    <p>List of all animals and plants found in Pymageddon.</p>
    <div class="row  row-cols-1 row-cols-md-2 g-4">
        {% for key, value in objects_summary.items() %}
        <div class="col">
            
            <div class="card">
                <div class="row g-0">
                <div class="col-md-4">
                    <img id='{{key}}_image' src="{{value.image}}" alt="{{key}}" width="100%" style="image-rendering: pixelated;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title"><a href="{{ url_for('explorer_type', type_name=key) }}">{{ key }}</a></h5>
                    <p class="card-text">{{ value.description_short }}</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                </div>
            </div>
            
        </div>
        {% endfor %}

    </div>

</article>

<hr class="featurette-divider">

{% endblock %}