<!doctype html>
<html>
    <head>

        <!-- Search console -->
        <meta name="google-site-verification" content="evmqjYRoTrRgw6tZvMG4eEVPDgUvSTFBpCkXOeOMdqA" />

        <!-- Clarity tracking 
        <script type="text/javascript">
            (function(c,l,a,r,i,t,y){
                c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
                t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
                y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
            })(window, document, "clarity", "script", "ptabw2rs3n");
        </script>
        -->

        <script src="../../static/website/pixi/pixi.js"></script>
        
    </head>
    <body scroll="no" style="overflow: hidden">
        
        <script>
            theCanvas.onkeydown = function (e) {
                if (["ArrowRight","ArrowLeft","ArrowDown", "ArrowUp"].includes(`${e.code}`)) {
                    e.view.event.preventDefault();
                }
            }
        </script>
        <script type="module">
            
            (async () =>
        {

            const app = new PIXI.Application(
                {
                    antialias: true,
                    autoDensity: true, // !!!
                    resolution: 2,
                }
            );
            await app.init({ resizeTo: window });
            document.body.appendChild(app.canvas);

            function check_token() {
                console.log("Checking token...")

                let token = sessionStorage.getItem('token') ;

                if (token) {
                    console.log("Token found: " + token)
                    const status_success =  fetch('/ping', {
                        method: 'GET', // or 'POST', 'PUT', 'DELETE', etc.
                        headers: {
                          'Authorization': 'Bearer ' + token, // Example header
                          'Content-Type': 'application/json', // Another example header
                        },
                      })
                        .then(response => {
                          // Handle the response
                          if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                          }
                          return response.json(); // Assuming JSON response
                        })
                        .then(data => {
                          // Process the data
                          console.log(data);
                          if (data['status'] == 'success'){
                            return true;
                          } else {
                            return false;
                          }
                        })
                        .catch(error => {
                          // Handle errors
                          console.error('Error:', error);
                        });
                    return status_success;
                } else {
                    console.log("Token not found")
                    return false;
                }
            }

            if (check_token()) {
                console.log("Token found and verified");
                await run_game().catch(error => {
                    // Handle errors
                    console.error('Error:', error);
                  });
            } else {
                console.log("Token not found, redirecing...");
                window.location.replace("/login_page");
            }

            async function run_game() {

                class JoyStick {
                    constructor(){

                        function joystick_to_keys(dragtarget){

                            const x_diff = dragtarget.x-app.screen.width/2;
                            const y_diff = dragtarget.y-app.screen.height*0.8;

                            const angle = Math.atan2(x_diff, y_diff)/3.14*180;

                            const dist = Math.sqrt(x_diff * x_diff + y_diff * y_diff)
                            

                            if (dist>5){

                                if ((angle > (90-45))&(angle <= (90+45))){
                                    keys_pressed["ArrowUp"] = false;
                                    keys_pressed["ArrowLeft"] = false;
                                    keys_pressed["ArrowDown"] = false;
                                    keys_pressed["ArrowRight"] = true;
                                }
                                if ((angle > (180-45))&(angle <= (180+45))){
                                    keys_pressed["ArrowUp"] = true;
                                    keys_pressed["ArrowLeft"] = false;
                                    keys_pressed["ArrowDown"] = false;
                                    keys_pressed["ArrowRight"] = false;

                                }
                                if ((angle > (-90-45))&(angle <= (-90+45))){
                                    keys_pressed["ArrowUp"] = false;
                                    keys_pressed["ArrowLeft"] = true;
                                    keys_pressed["ArrowDown"] = false;
                                    keys_pressed["ArrowRight"] = false;

                                }
                                if ((angle > (0-45)) & (angle <= (0+45))){
                                    keys_pressed["ArrowUp"] = false;
                                    keys_pressed["ArrowLeft"] = false;
                                    keys_pressed["ArrowDown"] = true;
                                    keys_pressed["ArrowRight"] = false;
                                }

                            } else {
                                keys_pressed["ArrowUp"] = false;
                                keys_pressed["ArrowLeft"] = false;
                                keys_pressed["ArrowDown"] = false;
                                keys_pressed["ArrowRight"] = false;
                            }
                        }

                        function onDragMove(event)
                        {
                            console.log("onDragMove");

                            console.log(dragtarget);
                            if (dragtarget)
                            {
                                dragtarget.parent.toLocal(event.global, null, dragtarget.position);
                                joystick_to_keys(dragtarget);
                            }
                        }
    
                        function onDragStart()
                        {
                            console.log("onDragStart");
                            // Store a reference to the data
                            // * The reason for this is because of multitouch *
                            // * We want to track the movement of this particular touch *
                            dragtarget.alpha = 0.5;
                            app.stage.on('pointermove', onDragMove);
                            joystick_to_keys(dragtarget)
                        }
                    
                        function onDragEnd()
                        {
                            console.log("onDragEnd");
                            if (dragtarget)
                            {
                                app.stage.off('pointermove', onDragMove);
                                dragtarget.alpha = 1;
                                dragtarget.x = app.screen.width/2;
                                dragtarget.y = app.screen.height*0.8;
                                joystick_to_keys(dragtarget)
                            }
                        }

                        let texture = map.textures['../../static/other/joystick_center.png'];
                        let texture_outside = map.textures['../../static/other/joystick_outside.png'];

                        this.sprite = PIXI.Sprite.from(texture);
                        this.sprite_outside = PIXI.Sprite.from(texture_outside);
                        
                        this.sprite.anchor.set(0.5);
                        this.sprite_outside.anchor.set(0.5);

                        let dragtarget = this.sprite;

                        app.stage.addChild(this.sprite);
                        app.stage.addChild(this.sprite_outside);

                        app.stage.eventMode = 'static';
                        app.stage.hitArea = app.screen;

                        app.stage.on('pointerdown', onDragStart, this.sprite);
                        app.stage.on('pointerup', onDragEnd);
                        app.stage.on('pointerupoutside', onDragEnd);

                        this.sprite.x = app.screen.width/2;
                        this.sprite.y = app.screen.height*0.8;
                        this.sprite.zIndex = 6;
                        this.sprite.height=app.screen.width*0.4;
                        this.sprite.width=app.screen.width*0.4;

                        this.sprite_outside.x = app.screen.width/2;
                        this.sprite_outside.y = app.screen.height*0.8;
                        this.sprite_outside.zIndex = 5;
                        this.sprite_outside.height=app.screen.width*0.4;
                        this.sprite_outside.width=app.screen.width*0.4;
                        this.sprite_outside.alpha = 0.5;

                        // This button mode will mean the hand cursor appears when you roll over the bunny with your mouse
                        this.sprite.cursor = 'pointer';


                    }


                }

                class MyObject {
                    constructor(obj_data, map, z_index) {

                        this.index = obj_data["index"];
                        
                        let texture = map.textures[obj_data["image"]];

                        this.sprite = PIXI.Sprite.from(texture);
                        app.stage.addChild(this.sprite);
                        this.sprite.anchor.set(0.5);

                        this.height=1/20.0*Math.max(app.screen.width,app.screen.height);
                        this.width=1/20.0*Math.max(app.screen.width,app.screen.height);
                        this.sprite.height=1/20.0*Math.max(app.screen.width,app.screen.height);
                        this.sprite.width=1/20.0*Math.max(app.screen.width,app.screen.height);

                        this.sprite.zIndex = z_index;

                        this.x = obj_data["x"];
                        this.y = obj_data["y"];
                        this.rotation = obj_data["rotation"];
                        this.is_particle = obj_data["is_particle"];
                        this.motion = obj_data["motion"];

                        if (this.is_particle) {
                            this.x_new = obj_data["x"];
                            this.y_new = obj_data["y"];
                            this.alpha = 1-(obj_data["life"]/obj_data["lifetime"]);
                            this.alpha_new = 1-(obj_data["life"]/obj_data["lifetime"]);
                            this.sprite.alpha = this.alpha;

                            if (this.motion == 'up') {
                                this.y_new = obj_data["y"]-(obj_data["life"]/obj_data["lifetime"]);
                            }
                            
                            if (this.motion == 'scale') {
                                this.height_new = ((obj_data["life"]/obj_data["lifetime"]))*15*1/20.0*Math.max(app.screen.width,app.screen.height);
                                this.width_new = ((obj_data["life"]/obj_data["lifetime"]))*15*1/20.0*Math.max(app.screen.width,app.screen.height);
                                this.height = (((obj_data["life"]-1)/obj_data["lifetime"]))*15*1/20.0*Math.max(app.screen.width,app.screen.height);
                                this.width = (((obj_data["life"]-1)/obj_data["lifetime"]))*15*1/20.0*Math.max(app.screen.width,app.screen.height);
                            }

                            if (this.motion == 'ground_stuck') {
                                this.sprite.zIndex = 1;
                                this.alpha =0.0;
                            } 

                        } else {
                            this.x_new = obj_data["x"];
                            this.y_new = obj_data["y"];
                        }

                        this.rotation_new = obj_data["rotation"];
                        
                        this.move_progress = 0.0;

                        this.hp = obj_data["hp"] ;
                        this.hp_new = obj_data["hp"] ;

                        if (obj_data["is_alive"]) {
                            
                            let hp_texture = map.textures["../../static/other/health_bar_green.png"];
                            
                            this.health_bar = PIXI.Sprite.from(hp_texture);
                            app.stage.addChild(this.health_bar);
                            
                            this.health_bar.anchor.set(0.5);
                            this.health_bar.height=this.sprite.height*0.05;
                            this.health_bar.width=this.sprite.width;
                            this.health_bar.zIndex = z_index;
                            this.health_bar.pivot.set(0, 90);
                            
                        } else {
                            this.health_bar = null;
                        }
                        
                        let name_to_display = "";

                        if (obj_data['is_alive']) {
                            if (obj_data['player_name']) {
                                name_to_display = "🙋‍♂️" + obj_data['player_name'];
                            } else {
                                if (obj_data['family_name']) {
                                    name_to_display = "🧠" + obj_data['family_name'] + " " + obj_data['index'];
                                } else {
                                    //name_to_display = obj_data['type_name'] + " " + obj_data['index'];
                                }
                            }
                        }
                        

                        this.name_text = new PIXI.Text(
                            {
                                "text":name_to_display,
                                "anchor":0.5,
                                "zIndex":4,
                                "style": new PIXI.TextStyle({
                                    "fontFamily": "Roboto",
                                    "fontSize": 16,
                                    "fill": "white",
                            })
                        });
                        this.name_text.pivot.set(0, -50);
                        app.stage.addChild(this.name_text);

                    }

                    update_data(obj_data) {

                        this.x = this.x_new;
                        this.y = this.y_new;
                        
                        if (this.is_particle) {
                            this.x_new = obj_data["x"];
                            this.y_new = obj_data["y"];

                            if (this.motion == 'up') {
                                this.y_new = obj_data["y"]-(obj_data["life"]/obj_data["lifetime"]);
                            } 

                            if (this.motion == 'scale') {
                                this.height = this.height_new;
                                this.width = this.width_new;
                                this.height_new = ((obj_data["life"]/obj_data["lifetime"]))*15*1/20.0*Math.max(app.screen.width,app.screen.height);
                                this.width_new = ((obj_data["life"]/obj_data["lifetime"]))*15*1/20.0*Math.max(app.screen.width,app.screen.height);
                            }

                            this.alpha = this.alpha_new;
                            this.alpha_new = 1-(obj_data["life"]/obj_data["lifetime"]);
                        } else {
                            this.x_new = obj_data["x"];
                            this.y_new = obj_data["y"];
                        }

                        this.rotation = this.rotation_new;
                        this.rotation_new = obj_data["rotation"] ;

                        this.hp = this.hp_new ;
                        this.hp_new = obj_data["hp"] ;

                    }


                    update_position(time_delta, player_obj) {

                        let player_obj_x = (((player_obj.x_new - player_obj.x)*time_delta)+player_obj.x)/20*Math.max(app.screen.width,app.screen.height) ;
                        let player_obj_y = (((player_obj.y_new - player_obj.y)*time_delta)+player_obj.y)/20*Math.max(app.screen.width,app.screen.height) ;

                        this.sprite.x = (((this.x_new - this.x)*time_delta)+this.x)/20*Math.max(app.screen.width,app.screen.height) - player_obj_x + app.screen.width/2;
                        //console.log((((this.x_new - this.x)*time_delta/500)+this.x)/100*app.screen.width)
                        this.sprite.y = (((this.y_new - this.y)*time_delta)+this.y)/20*Math.max(app.screen.width,app.screen.height) - player_obj_y + app.screen.height/2;
                        this.sprite.angle = ((((this.rotation_new - this.rotation)*time_delta) + this.rotation)-1)*90.0;
                        
                        if (this.is_particle){
                            this.sprite.alpha = (((this.alpha_new - this.alpha)*time_delta)+this.alpha);

                            if (this.motion == 'scale') {
                                this.sprite.height = (((this.height_new - this.height)*time_delta)+this.height);
                                this.sprite.width = (((this.width_new - this.width)*time_delta)+this.width);
                            }
                        }

                        if (this.health_bar) {

                            if (this.hp_new<=20){
                                this.health_bar.texture = map.textures["../../static/other/health_bar_red.png"];
                            }
                            if ((this.hp_new>20) & (this.hp_new<=50)) {
                                this.health_bar.texture = map.textures["../../static/other/health_bar_yellow.png"];
                            
                            }  

                            if (this.hp_new>50){
                                this.health_bar.texture = map.textures["../../static/other/health_bar_green.png"];
                            
                            }  
                        
                            this.health_bar.x = this.sprite.x;
                            this.health_bar.y = this.sprite.y;

                            this.health_bar.width = (((this.hp_new - this.hp)*time_delta) + this.hp)/100 * this.sprite.width;

                            this.name_text.x = this.sprite.x;
                            this.name_text.y = this.sprite.y;
                        }
                    }

                    delete() {
                        app.stage.removeChild(this.sprite);
                        app.stage.removeChild(this.health_bar);
                        
                        if (this.name_text){
                            app.stage.removeChild(this.name_text);
                        }
                    }
                }

                class MyMap {
                    constructor() {
                    this.objects = {};
                    this.tiles = {};
                    this.particles = {};
                    this.player_id = "0";
                    this.player_obj = null;
                    this.textures = {};
                    this.refresh_time =0.0;
                    this.time_left_until_refresh =1.0;
                    this.map_request_running = false;
                    this.epoch = 0;
                    this.elapsed = 0.0;
                    this.nav_map_sprite = null;
                    this.nav_cross_sprite = null;
                    this.map_server_response_time = 0.0;
                    }

                    get_player_obj(){
                        this.player_id = this.map_data['player']['object_id'];

                        if (this.map_data['player']['object_type']=='object'){
                            this.player_obj = this.objects[this.player_id];
                        }
                        if (this.map_data['player']['object_type']=='tile'){
                            this.player_obj = this.tiles[this.player_id];
                        }
                        if (this.map_data['global_params']['large_message']){
                            this.large_message = this.map_data['global_params']['large_message'];
                        }
                        if (this.map_data['global_params']['dashboard_message']){
                            this.dashboard_message = this.map_data['global_params']['dashboard_message'];
                        }

                        if (this.map_data['global_params']['title_indicative_message']){
                            this.title_indicative_message = this.map_data['global_params']['title_indicative_message'];
                        }
                    }

                    async refresh_data() {

                        
                        if (this.map_data['global_params']['status'] != 'running') {
                            window.location.replace("/start_game_page");
                        }

                        this.time_left_until_refresh = this.map_data['global_params']['time_left'];
                        
                        if (this.epoch == this.map_data['global_params']['epoch']){
                            console.log("Not doing anything, epoch did not refresh")
                            return false;
                        }

                        this.epoch = this.map_data['global_params']['epoch'];

                        Object.entries(this.map_data['objects']).forEach(([i,my_obj_data]) => {
                            
                            if (!(this.objects.hasOwnProperty(i))) {
                                let my_obj = new MyObject(my_obj_data, this, 2);
                                this.objects[i] = my_obj;
                            } else {
                                this.objects[i].update_data(my_obj_data);
                            }
                        });

                        Object.entries(this.objects).forEach(([i,my_obj_data]) => {
                            
                            if (!(this.map_data['objects'].hasOwnProperty(i))) {
                                this.objects[i].delete();
                                delete this.objects[i];
                            }  
                        });

                        Object.entries(this.map_data['tiles']).forEach(([i,my_obj_data]) => {
                            
                            if (!(this.tiles.hasOwnProperty(i))) {
                                let my_obj = new MyObject(my_obj_data, this, 0);
                                this.tiles[i] = my_obj;
                            } else {
                                this.tiles[i].update_data(my_obj_data);
                            }
                        });

                        Object.entries(this.tiles).forEach(([i,my_obj_data]) => {
                            
                            if (!(this.map_data['tiles'].hasOwnProperty(i))) {
                                this.tiles[i].delete();
                                delete this.tiles[i];
                            }  
                        });


                        Object.entries(this.map_data['particles']).forEach(([i,my_obj_data]) => {
                            
                            if (!(this.particles.hasOwnProperty(i))) {
                                let my_obj = new MyObject(my_obj_data, this, 3);
                                this.particles[i] = my_obj;
                            } else {
                                this.particles[i].update_data(my_obj_data);
                            }
                        });

                        Object.entries(this.particles).forEach(([i,my_obj_data]) => {
                            
                            if (!(this.map_data['particles'].hasOwnProperty(i))) {
                                this.particles[i].delete();
                                delete this.particles[i];
                            }  
                        });
                        
                        this.get_player_obj();

                        let nav_map_texture_url = '../../map_image.png';
                        
                        this.textures[nav_map_texture_url].destroy();

                        PIXI.Assets.load(nav_map_texture_url).then(texture => {this.textures[nav_map_texture_url] = texture}).catch(err => console.error(err));
                        
                        this.nav_map_sprite.destroy();

                        this.nav_map_sprite = PIXI.Sprite.from(nav_map_texture_url);
                        
                        app.stage.addChild(this.nav_map_sprite);
                        
                        this.nav_map_sprite.zIndex = 5;
                        this.nav_map_sprite.x=app.screen.width - 1.5/20.0*Math.max(app.screen.width,app.screen.height);
                        this.nav_map_sprite.y=1.5/20.0*Math.max(app.screen.width,app.screen.height);
                        this.nav_map_sprite.height=3/20.0*Math.max(app.screen.width,app.screen.height);
                        this.nav_map_sprite.width=3/20.0*Math.max(app.screen.width,app.screen.height);
                        this.nav_map_sprite.anchor.set(0.5);

                        this.nav_cross_sprite.x=app.screen.width - 3.0/20.0*Math.max(app.screen.width,app.screen.height) + (this.player_obj.x/200.0)*3.0/20.0*Math.max(app.screen.width,app.screen.height);
                        this.nav_cross_sprite.y= (this.player_obj.y/200.0)*3.0/20.0*Math.max(app.screen.width,app.screen.height);
                        
                        //map.elapsed = 0.0;
                        return true;

                    }

                    async load_textures() {
                        
                        console.log("Run load textures...");
                        
                        // Load the textures
                        await PIXI.Assets.load([
                            '../../static/other/circle.png',
                        ]);

                        const balls = [];
                        const container = new PIXI.Container();

                        const generateSpinner2 = (position) =>
                        {
                            
                            container.position = position;
                            app.stage.addChild(container);

                            const size = 300;
                            const ballAmount = 7;
                            
                            for (let i = 0; i < ballAmount; i++)
                            {
                                const ball = PIXI.Sprite.from('../../static/other/circle.png');
                                ball.anchor.set(0.5);
                                container.addChild(ball);
                                ball.position.set(
                                    size / 2 + (Math.cos((i / ballAmount) * Math.PI * 2) * size) / 3,
                                    size / 2 + (Math.sin((i / ballAmount) * Math.PI * 2) * size) / 3,
                                );
                                
                                ball.width = 1/20.0*Math.max(app.screen.width,app.screen.height);
                                ball.height = 1/20.0*Math.max(app.screen.width,app.screen.height);

                                balls.push(ball);
                            }

                            let phase = 0;

                            return (delta) =>
                            {
                                // Update phase
                                phase += delta / 60;
                                phase %= Math.PI * 2;

                                // Update ball scales
                                balls.forEach((b, i) =>
                                {
                                    const sin = Math.sin((i / ballAmount) * Math.PI - phase);
                                    // Multiply sin with itself to get more steeper edge.

                                    b.scale.set(Math.abs(sin * sin * sin * 0.05) + 0.05);
                                });
                            };
                        };
                        
                        console.log("scheduling spinner...");

                        let spinner = generateSpinner2(new PIXI.Point(app.screen.width/2-150,app.screen.height/2-150));
                        
                        const spinner_ticker = new PIXI.Ticker();

                        spinner_ticker.add((time) =>
                        {
                            console.log("spinner tick");
                            spinner(time.deltaTime);
                        });

                        spinner_ticker.start();

                        for (const [i,my_texture_url] of Object.entries(this.map_data['global_params']['textures'])) {

                            console.log("Loading " + my_texture_url + "...");

                            await PIXI.Assets.load(my_texture_url).then(texture => {this.textures[my_texture_url] = texture}).catch(err => console.error(err));

                        }

                        spinner_ticker.destroy();

                        balls.forEach((b, i) =>
                        {
                            b.destroy();
                        });

                        container.destroy();

                    }

                    async fetch_data_objects() {
                        console.log("Fetching data objects...");

                        const token = sessionStorage.getItem('token') ;
                        
                        const startTime = performance.now();

                        this.map_request_running = true;

                        await fetch(
                            "/get_map",
                            {
                                method: 'GET',
                                headers: {
                                    'Authorization': 'Bearer ' + token, 
                                    'Content-Type': 'application/json', // Another example header
                                }
                            })
                            .then(response => {

                                if (response.ok) {
                                    // Request successful, handle the response
                                    return response.json(); 
                                  } else if (response.status === 401) {
                                    // Unauthorized, redirect to login page
                                    window.location.replace("/login_page");
                                    //return response.json(); 

                                  } else {
                                    // Other error, handle accordingly
                                    throw new Error('Network response was not ok.');
                                  }
                            })

                            .then((map_data) => {
                                
                                if (map_data['global_params']['status'] != 'running') {
                                    window.location.replace("/start_game_page");
                                }

                                this.map_data = map_data;

                                const endTime = performance.now();
                                this.map_server_response_time = endTime - startTime;
                                this.map_request_running = false;

                            });
                    }

                    async init_objects() {

                        this.refresh_time = this.map_data['global_params']['time_interval'];

                        this.epoch = this.map_data['global_params']['epoch'];

                        this.status = this.map_data['global_params']['status'];
                        
                        
                        Object.entries(this.map_data['objects']).forEach(([i,my_obj_data]) => {
                            try {
                                let my_obj = new MyObject(my_obj_data, this, 2);

                                this.objects[i] = my_obj;
                            } catch (error) {
                                console.error('Error:', error.message);
                            }
                        });

                        Object.entries(this.map_data['tiles']).forEach(([i,my_obj_data]) => {
                            try {
                                let my_obj = new MyObject(my_obj_data, this, 0);

                                this.tiles[i] = my_obj;
                            } catch (error) {
                                console.error('Error:', error.message);
                            }
                        });

                        Object.entries(this.map_data['particles']).forEach(([i,my_obj_data]) => {
                            try {
                                let my_obj = new MyObject(my_obj_data, this, 3);

                                this.particles[i] = my_obj;
                            } catch (error) {
                                console.error('Error:', error.message);
                            }
                        });

                        console.log("Creating nav map...");

                        this.get_player_obj();

                        let nav_map_texture = this.textures['../../map_image.png'];

                        this.nav_map_sprite = PIXI.Sprite.from(nav_map_texture);
                        console.log(this.nav_map_sprite.x);
                        app.stage.addChild(this.nav_map_sprite);
                        this.nav_map_sprite.zIndex = 5;
                        this.nav_map_sprite.x=app.screen.width - 1.5/20.0*Math.max(app.screen.width,app.screen.height);
                        this.nav_map_sprite.y=1.5/20.0*Math.max(app.screen.width,app.screen.height);
                        this.nav_map_sprite.height=3/20.0*Math.max(app.screen.width,app.screen.height);
                        this.nav_map_sprite.width=3/20.0*Math.max(app.screen.width,app.screen.height);
                        this.nav_map_sprite.anchor.set(0.5);
                        
                        let nav_cross_texture = this.textures['../../static/other/red_cross.png'];

                        this.nav_cross_sprite = PIXI.Sprite.from(nav_cross_texture);
                        app.stage.addChild(this.nav_cross_sprite);
                        this.nav_cross_sprite.zIndex = 6;
                        this.nav_cross_sprite.x=app.screen.width - 3.0/20.0*Math.max(app.screen.width,app.screen.height) + (0/200.0)*3.0/20.0*Math.max(app.screen.width,app.screen.height);
                        this.nav_cross_sprite.y= (0/200.0)*3.0/20.0*Math.max(app.screen.width,app.screen.height);
                        this.nav_cross_sprite.height=2/20.0*Math.max(app.screen.width,app.screen.height);
                        this.nav_cross_sprite.width=2/20.0*Math.max(app.screen.width,app.screen.height);
                        this.nav_cross_sprite.anchor.set(0.5);
                        
                                
                    }

                    async update_positions(time_delta) {
                        
                        //console.log("Updating " + (Object.keys(this.objects).length) + " objects, "  + ( Object.keys(this.tiles).length) + " tiles")

                        Object.entries(this.objects).forEach(([i,my_obj_data]) => {

                            my_obj_data.update_position(time_delta,this.player_obj);

                        });

                        Object.entries(this.tiles).forEach(([i,my_obj_data]) => {

                            my_obj_data.update_position(time_delta,this.player_obj);

                        });

                        Object.entries(this.particles).forEach(([i,my_obj_data]) => {

                            my_obj_data.update_position(time_delta,this.player_obj);

                        });
                    }

                }; 

            
                // TEXT
                let screen_title_big = new PIXI.Text(
                    {
                        "text":"",
                        "x":app.screen.width/2,
                        "y":app.screen.height/2,
                        "anchor":0.5,
                        "zIndex":5,
                        "style": new PIXI.TextStyle({
                            "fontFamily": "Roboto",
                            "fontSize": 60,
                            "fill": "white",
                    })
                });
                app.stage.addChild(screen_title_big);
                screen_title_big.visible = false;

                let screen_title_indicative = new PIXI.Text(
                    {
                        "text":"",
                        "x":app.screen.width/2,
                        "y":app.screen.height/4,
                        "anchor":0.5,
                        "zIndex":5,
                        "style": new PIXI.TextStyle({
                            "fontFamily": "Roboto",
                            "fontSize": 60,
                            "fill": "white",
                    })
                });
                app.stage.addChild(screen_title_indicative);
                screen_title_indicative.visible = false;

                let screen_title_dashboard = new PIXI.Text(
                    {
                        "text":"",
                        "x":app.screen.width - 3.0/20.0*Math.max(app.screen.width,app.screen.height),
                        "y":3/20.0*Math.max(app.screen.width,app.screen.height),//+3/20.0*Math.max(app.screen.width,app.screen.height),
                        "anchor":0.0,
                        "zIndex":5,
                        "style": new PIXI.TextStyle({
                            "fontFamily": "Roboto",
                            "fontSize": 20,
                            "fill": "white",
                    })
                });
                app.stage.addChild(screen_title_dashboard);
                screen_title_dashboard.visible = false;

                // TEXT
                let screen_title_small = new PIXI.Text(
                    {
                        "text":"Press any key to play again...",
                        "x":512,
                        "y":512+100,
                        "anchor":0.5,
                        "zIndex":5,
                        "style": new PIXI.TextStyle({
                            "fontFamily": "Roboto",
                            "fontSize": 60,
                            "fill": "white",
                    })
                });
                app.stage.addChild(screen_title_small);
                screen_title_small.visible = false;

                console.log("Loading map...");

                const map = new MyMap();

                

                console.log("Init objects");

                await map.fetch_data_objects();
                await map.load_textures();
                await map.init_objects();

                if (  (typeof window.orientation !== "undefined") || ( navigator.userAgent.indexOf('IEMobile') !== -1 )  ){

                    const joystick = new JoyStick();

                }

                console.log("Start ticker");

                let refresh_time = 0.33;
                let control_refresh_elapsed = 0.0;
                let elapsed = 0.0;
                let cnt = 0.0;
                let refresh_started = false;
                
                document.addEventListener('keydown', logKey);
                //document.addEventListener("keyup", clearKey);

                let keys_pressed = {
                    "ArrowRight":false,
                    "ArrowLeft":false,
                    "ArrowDown":false,
                    "ArrowUp":false
                };

                function logKey(e) {

                    if (["ArrowRight", "ArrowLeft", "ArrowDown", "ArrowUp"].includes(`${e.code}`)) {
                        keys_pressed = {
                            "ArrowRight":false,
                            "ArrowLeft":false,
                            "ArrowDown":false,
                            "ArrowUp":false
                        };

                        keys_pressed[`${e.code}`] = true;
                    }
                }
                
                function clearKey(e) {

                    if (["ArrowRight", "ArrowLeft", "ArrowDown", "ArrowUp"].includes(`${e.code}`)) {
                        keys_pressed[`${e.code}`] = false;
                    }
                }

                function clear_keys() {
                    keys_pressed = {
                        "ArrowRight":false,
                        "ArrowLeft":false,
                        "ArrowDown":false,
                        "ArrowUp":false
                    };

                }

                async function update_control(){

                    const token = sessionStorage.getItem('token') ;

                    await fetch('/control', {
                        method: 'POST',
                        headers: {
                            'Authorization': 'Bearer ' + token, 
                            'Content-Type': 'application/json', // Another example header
                        },
                        body: JSON.stringify(keys_pressed),
                    })
                        .then(response => {
                            if (response.ok) {
                                // Request successful, handle the response
                                return response.json(); 
                              } else if (response.status === 401) {
                                // Unauthorized, redirect to login page
                                window.location.replace("/login_page");
                                return response.json(); 
                              } else {
                                // Other error, handle accordingly
                                throw new Error('Network response was not ok.');
                              }
                        })
                        .then(data => {
                        // Do something with the response data
                        //console.log(data);
                        })
                        .catch(error => {
                        // Handle any errors
                        console.error(error);
                        });
                }

                app.ticker.add((ticker) => {
                    //console.log("time elapsed");
                    //console.log("Map status is " + map.status);

                    switch (map.status) {
                        case 'running':
                    
                            if (
                                (map.elapsed>map.refresh_time)
                                & (!(map.map_request_running))
                                & (!(refresh_started))
                            ){
                                
                                map.fetch_data_objects();
                                refresh_started = true;
                            }

                            if (
                                (map.elapsed>map.refresh_time)
                                &(!(map.map_request_running))
                                &(refresh_started)
                            ) { 

                                map.refresh_data().then((refresh_success) => {

                                    if (refresh_success){
                                        map.elapsed = map.refresh_time - (map.time_left_until_refresh) ;
                                        //update_control();
                                        clear_keys();
                                    } else {
                                        if (map.time_left_until_refresh<map.refresh_time) {
                                            map.elapsed = map.refresh_time - (map.time_left_until_refresh) ;
                                        } 
                                    }
                                    
                                    refresh_started = false;
                                    
                                });

                            } else {
                                
                                //console.log("update positions");
                                
                                

                                map.update_positions(map.elapsed/map.refresh_time);
                                

                                map.elapsed += ticker.elapsedMS/1000;
                                
                            
                            }
                            
                            if (control_refresh_elapsed<map.refresh_time/5){
                                control_refresh_elapsed += ticker.elapsedMS/1000;
                            } else {
                                update_control();
                                control_refresh_elapsed = 0.0;
                            }
                            
                            if (map.large_message){
                                screen_title_big.text = map.large_message;
                                screen_title_big.visible = true;
                            } else {
                                screen_title_big.visible = false;
                            }

                            if (map.dashboard_message){
                                screen_title_dashboard.text = map.dashboard_message
                                screen_title_dashboard.visible = true;
                                
                            } else {
                                screen_title_dashboard.visible = false;
                            }
                            
                            if (map.title_indicative_message){
                                screen_title_indicative.text = map.title_indicative_message;
                                screen_title_indicative.visible = true;
                            } else {
                                screen_title_indicative.visible = false;
                            }
                            break;
                        default:

                            screen_title_big.text = "Game over !";
                            screen_title_big.visible = true;

                            screen_title_small.text = "Press any key to play again...";
                            screen_title_small.visible = true;

                            //screen_title_big.visible = false;
                            //screen_title_small.visible = false;
                            update_control();
                            break;

                    }
                    
                }).catch(err => console.error(err));

                

            }

        })();
        </script>
    </body>
</html>