{% extends "_login.html" %}

{% block content %}

  <img class="mb-4" src="../../static/website/assets/pics/zoom_blur_logo.png" alt width="250px" height="250px">

  <p id="message_area"></p>
    
  <h1 class="h3 mb-3 fw-normal">Press button to play</h1>

  <button id="new_game_button" class="w-100 btn btn-lg btn-primary" type="submit">Start new game</button>
  
  <p><a href="/">Exit the game</a></p>
  
  <br>  

    <table class="table" id="score_table">
      <thead>
        <tr>
          <th scope="col">Your scores</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

        <tr class="table-primary">
          <th scope="row">Games played</th>
          <td id='player_games'><div class="spinner-border" role="status"><span class="sr-only"></span></div></td>
        </tr>

        <tr class="table-primary">
          <th scope="row">Player max score</th>
          <td id='player_score'><div class="spinner-border" role="status"><span class="sr-only"></span></div></td>
        </tr>

        <tr class="table-primary">
          <th scope="row">Family games played</th>
          <td id='family_games'><div class="spinner-border" role="status"><span class="sr-only"></span></div></td>
        </tr>

        <tr class="table-primary">
          <th scope="row">Family max score</th>
          <td id='family_score'><div class="spinner-border" role="status"><span class="sr-only"></span></div></td>
        </tr>

      </tbody>
    </table>

    <script>
      console.log("JS executing...")
      // Get a reference to the form element

      // Add an event listener for the submit event

      console.log("new game pressed...")

      const token = sessionStorage.getItem('token') ;

      const player_games = document.getElementById('player_games');
      const player_score = document.getElementById('player_score');
      const family_games = document.getElementById('family_games');
      const family_score = document.getElementById('family_score');

      fetch('/score', {
          method: 'GET', // or 'POST', 'PUT', 'DELETE', etc.
          headers: {
              'Authorization': 'Bearer ' + token, 
              'Content-Type': 'application/json', // Another example header
          }
        })
        .then(response => {
          if (response.ok) {
              // Request successful, handle the response
              return response.json(); 
            } else if (response.status === 401) {
              // Unauthorized, redirect to login page
              window.location.replace("/login_page");
              throw new Error('Redirect');
              //return response.json(); 
            } else {
              // Other error, handle accordingly
              throw new Error('Network response was not ok.');
            }
      })
      .then(data => {

          player_games.innerText = data['player_scores']['player_games'];
          player_score.innerText = data['player_scores']['player_score'];
          family_games.innerText = data['player_scores']['family_games'];
          family_score.innerText = data['player_scores']['family_score'];

      })
      .catch(error => {
          // Handle errors
          console.error('Error:', error);
          waring_message.innerText = error;
      });
    
    </script>
    
    <br>

    <script>
        console.log("JS executing...")
        // Get a reference to the form element
        const new_game_button = document.getElementById('new_game_button');
        const waring_message = document.getElementById('message_area');

        // Add an event listener for the submit event
        new_game_button.addEventListener('click', function(event) {
            console.log("new game pressed...")

            const token = sessionStorage.getItem('token') ;

            fetch('/new_game', {
                method: 'POST', // or 'POST', 'PUT', 'DELETE', etc.
                headers: {
                    'Authorization': 'Bearer ' + token, 
                    'Content-Type': 'application/json', // Another example header
                }
              })
              .then(response => {
                if (response.ok) {
                    // Request successful, handle the response
                    return response.json(); 
                  } else if (response.status === 401) {
                    // Unauthorized, redirect to login page
                    window.location.replace("/login_page");
                    throw new Error('Redirect');
                    //return response.json(); 
                  } else {
                    // Other error, handle accordingly
                    throw new Error('Network response was not ok.');
                  }
            })
                .then(data => {

                    if (data["detail"]) {
                        waring_message.innerText = data["detail"];
                    } 

                    if (data["status"]=="success") {
                        waring_message.innerText = "success";
                        
                        poll_map_until_success();
                    }
                })
                .catch(error => {
                    // Handle errors
                    console.error('Error:', error);
                    waring_message.innerText = error;
                });
            
            event.preventDefault();

        });


        async function poll_map_until_success(interval = 100, timeout = 30000) {
            let startTime = Date.now();
          
            while (Date.now() - startTime < timeout) {
              try {
                const token = sessionStorage.getItem('token') ;
                
                const response = await fetch('/get_map', {
                    method: 'GET', // or 'POST', 'PUT', 'DELETE', etc.
                    headers: {
                        'Authorization': 'Bearer ' + token, 
                        'Content-Type': 'application/json', // Another example header
                    }
                  })
                const data = await response.json();
          
                if (data['global_params']['status'] === "running") {
                    window.location.replace("/play");
                }
              } catch (error) {
                console.error("API request failed:", error);
              }
          
              await new Promise(resolve => setTimeout(resolve, interval));
            }
          
            throw new Error("Polling timeout exceeded");
          }

      </script>
{% endblock %}