

{% extends "_menu_bar.html" %}

{% block content %}


    <article>
        <br>
        <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
            <h3>World map</h3>
        </div>
  
        <div>
            <div class="bd-example-snippet bd-code-snippet">
            <div class="bd-example m-0 border-0">
        
          <div class="row  row-cols-1 row-cols-md-2 g-4">
            <div class="col">
              <div class="card">
                <img id='world_map_image' src="/map_image.png" alt="world map" width="100%" style="image-rendering: pixelated;">
                <div class="card-body">
                  <h5 class="card-title">Live view of Pymageddon map</h5>
                  <p class="card-text">Pixels on the map represent different animals and plants. See the map legend to see what is what. The map is refreshed about every 10 seconds.</p>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Legend</h5>
                      <p class="card-text">Map color to animal / plant color.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for key, value in types_dict.items() %}
                        <li class="list-group-item"><div style="width: 15px; height: 15px; display:inline-block; background-color: rgb{{ value.rgb_map }};"></div>  
                          <a href={{ url_for('explorer_type', type_name=key) }}>{{ key }}</a> 
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="card-body">
                    </div>
                  </div>
            </div>  

            <div class="col">
              <div class="card">
                <img id='hist_counts_image' src="/hist_counts_image.png" alt="count plot" width="100%" style="image-rendering: pixelated;">
                <div class="card-body">
                  <h5 class="card-title">Live plot of counts</h5>
                  <p class="card-text">Live plot of counts of different animals/plants. See the legend for what the different colors mean</p>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card">
                <img id='hist_counts_image' src="/refresh_time_plot.png" alt="count plot" width="100%" style="image-rendering: pixelated;">
                <div class="card-body">
                  <h5 class="card-title">Live plot of world refresh time</h5>
                  <p class="card-text">Live plot of how long it takes for a world to refresh in ms.</p>
                </div>
              </div>
            </div>

        </div>



    </article>


    <script>
        var world_map_image = document.getElementById('world_map_image');
        var hist_counts_image = document.getElementById('hist_counts_image');
        world_map_image.src = '/map_image.png?rand=' + Math.random();
        hist_counts_image.src = '/hist_counts_image.png?rand=' + Math.random();

        setInterval(function() {
            var world_map_image = document.getElementById('world_map_image');
            world_map_image.src = '/map_image.png?rand=' + Math.random();
            hist_counts_image.src = '/hist_counts_image.png?rand=' + Math.random();
        }, 1000);
    </script>

    <hr class="featurette-divider">

{% endblock %}
